

#mensaje_orquestador {
    color:#6677f5; 
    font-weight: bold;
    text-align: left;
    margin-top: 60px;
}

#form_consulta {
    background-color: white;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 8px;
    padding-left: 20px;
    max-width: 600px;
}

#form_consulta label {
    display:block; 
    margin-bottom: 8px;
    margin-top: 8px;
}

h2 {
    color:#6677f5; 
}

#mensaje_pazysalvo {
    border: 1px solid #2cec76;
    background-color: #9befbb;
    border-radius: 10px;
    text-align: center;
    margin-top: 60px;
    padding: 40px;
}